@font-face {
    font-family: "Raleway";
    src: url(Font/Raleway.woff2) format("woff2");
    src: url(Font/Raleway.woff) format("woff");
    src: url(Font/Raleway.eot) format("eot");
    src: url(Font/Raleway.ttf) format("ttf");
    src: url(Font/Raleway.svg) format("svf");
}
* { 
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
.Body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

/* ....................Header.................... */

.Bloc_Header {
    display: flex;
    justify-content: space-between;
    padding-left: 3.5%;
    height: 80px;
}
.Logo {
    margin-top: 45px;
    height: 45px;
}
.Nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 80px;
}
.Nav ul {
    display: flex;
    margin: 0;
    padding-left: 0;
    margin-right: 12.5%;
    height: 80px;
    list-style-type: none;
}
.Nav li {
    display: flex;
    width: 150px;
}
.Nav ul a {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    width: 150px; 
    height: 80px;
}
.Nav ul a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}
.Inscription {
    position: absolute;
    top: 50px; right: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Inscription a {
    color: #0065FC;
    font-size: 14px;
    text-decoration: none;
}

/* ....................Recherche.................... */

.Bloc_Research {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 4%;
}

/* ..........Title.......... */

.TitleResearch {
    width: 100%;
}
.TitleResearch h1 {
    margin: 50px 0 10px 0;
    font-size: 1.25em;
    width: 100%;
}
.TitleResearch p {
    margin: 0 0 20px 0;
    font-size: .92em;
}

/* ..........Form.......... */

.FormResearch {
    display: flex;
    margin-bottom: 30px;
}
.Loca {
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 50px;
    background: #f1f1f1;
    border-radius: 15px 0 0 15px;
    -webkit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    -ms-border-radius: 15px 0 0 15px;
    -o-border-radius: 15px 0 0 15px;
}
.Loca::before {
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.FormResearch input {
    border: 1px solid #f1f1f1;
    width: 16%;
    height: 50px;
}
.Btn {
    height: 50px;
    width: 120px;
    border: none;
    background: #0065FC;
    color: #F2F2F2;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    -ms-border-radius: 0 15px 15px 0;
    -o-border-radius: 0 15px 15px 0;
}
.Btn p {
    margin-top: 14px;
}
.Btn i {
    display: none;
}

/* ..........Nav.......... */

.NavResearch {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}
.NavResearch p {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    font-weight: bolder;
    align-items: center;
    margin: 0;
    height: 45px;
}
.NavResearch ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.NavResearch li {
    font-family: "Raleway", sans-serif;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid #f1f1f1;
    height: 45px;
    font-weight: bolder;
    margin-left: 40px;
    padding: 10px 20px 10px 40px;
    border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -ms-border-radius: 50px 50px 50px 50px;
    -o-border-radius: 50px 50px 50px 50px;
}
.NavResearch i {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -10px;
    top: -1.5px;
    background: #DEEBFF;
    color: #0065FC;
    font-size: large;
    text-align: center;
    width: 40px;
    height: 45px;
    border-radius: 50%;
    padding: 15px 15px 15px 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.NavResearch li:hover {
    color: #0065FC;
    background: #DEEBFF;
    border-top: 1px solid #0065FC;
    cursor: pointer;
}
.FooterResearch {
    display: flex;
    margin-top: 35px;
    margin-bottom: 40px;
    font-size: .95em;
}
.FooterResearch i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    border: 1px solid rgb(201, 199, 199);
    height: 20px;
    width: 5px;
    padding-right: 10px;
    margin-right: 5px;
    color: #0065FC;
    background: #DEEBFF;
    font-size: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* ....................Hebergement.............. */

.Bloc_Lod {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.SectionLodging {
    display: flex;
    flex-wrap: wrap;
    background: #f2f2f2;
    width: 61.5%;
    margin-left: 3%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#Hébergements {
    margin-bottom: 15px;
    padding-top: 20px;
    padding-left: 4%;
    font-size: 1.35em;
}
.SectionLodging a {
    color: #000;
    text-decoration: none;
}
.LodgingCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

/* ..........Lod.......... */

.Lod {
    width: 225px;
    margin: 0 30px 30px 0;
    background: White;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.Lod a {
    text-decoration: none;
    background: white;
}
.ImgL {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 215px;
    height: 110px;
    margin: 5px;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
}
.Lod_Img_1 {
    background-image: url(Img/Lodging/Lod1.jpg);
}
.Lod_Img_2 {
    background-image: url(Img/Lodging/Lod2.jpg);
}
.Lod_Img_3 {
    background-image: url(Img/Lodging/Lod3.jpg);
}
.Lod_Img_4 {
    background-image: url(Img/Lodging/Lod4.jpg);
}
.Lod_Img_5 {
    background-image: url(Img/Lodging/Lod5.jpg);
}
.Lod_Img_6 {
    background-image: url(Img/Lodging/Lod6.jpg);
}
.Desc_Lod {
    border-radius: 0 0 20px 20px;
    padding-left: 20px;
    font-size: 9px;
    color: #000;
    background: White;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
}
.Desc_Lod h2 {
    margin-bottom: 0;
}
.Desc_Lod p {
    font-size: 1.4em;
    margin: 6px 0 6px 0;
    padding-top: 0px;
}
.fa-star {
    color: #0065FC;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.Plus {
    padding: 4%;
}

/* ....................MostPop.............. */

.Section_Most_Popular {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 3%;
    background: #f2f2f2;
    width: 29%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.PopCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.Title_MostPop {
    display: flex;
    justify-content: space-between;
}
.Title_MostPop h2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.2em;
    margin-bottom: 0;
    padding-top: 20px;
    padding-left: 8%;
}
.Title_MostPop i {
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-size: 1.5em;
    width: 16%;
    height: 57px;
}

/* ..........Pop.......... */

.Pop {
    border-radius: 20px;
    margin-bottom: 30px;
    background: White;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.Pop a {
    display: flex;
    background: white;
    text-decoration: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.ImgMP {
    background-repeat: no-repeat;
    width: 150px;
    height: 122px;
    margin: 5px 0 5px 5px;
    border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    -ms-border-radius: 20px 0 0 20px;
    -o-border-radius: 20px 0 0 20px;
}
.Pop_Img_1 {
    background-image: url(Img/Popular/Pop1.jpg);
    background-size: 175%;
    background-position: top -5px left -43px;
}
.Pop_Img_2 {
    background-image: url(Img/Popular/Pop2.jpg);
    background-size: 150%;
    background-position: top -2px left -30px;
}
.Pop_Img_3 {
    background-image: url(Img/Popular/Pop3.jpg);
    background-size: 110%;
    background-position: top -35px left -10px;
}
.Desc_Pop {
    width: 75%;
    font-size: 10px;
    padding-left: 10px;
    color: #000;
    background: White;
    border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    -ms-border-radius: 0 20px 20px 0;
    -o-border-radius: 0 20px 20px 0;
}
.Desc_Pop h2 {
    font-weight: bold;
    font-size: 1.35em;
    margin-bottom: 6px;
    padding-top: 2px;
    width: 130px;
}
.Desc_Pop p {
    font-size: 1.2em;
    margin: 0 0 15px 0;
    padding: 5px 5px 25px 0;
}
.fa-star {
    color: #0065FC;
    font-size: 1.2em;
    padding-bottom: 0;
}
.Grey {
    color: rgb(192, 192, 192);
    padding-bottom: 0;
}

/* ....................Activitées.............. */

.Bloc_Activites {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    width: 100%;
}
#Activités {
    padding-left: 4%;
    margin-top: 0;
    width: 100%;
}
.ActCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

/* .........Act.......... */

.Simple a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin-right: 40px;
} 
.Double {
    border-radius: 20px;
    flex-wrap: wrap;
}
.Double a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.SpaceD {
    margin-bottom: 50px;
}
.SpaceS {
    margin-left: 40px;
}
.Act_Img_1 {
    background-image: url(Img/Activity/Act1.jpg);
    background-size: 240%;
    background-repeat: no-repeat;
    background-position: bottom -40px left -200px;
    border-radius: 20px 20px 0 0;
    width: 280px;
    height: 400px;
}
.Act_Img_2 {
    background-image: url(Img/Activity/Act2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0 0;
    width: 280px;
    height: 150px;
}
.Act_Img_3 {
    background-image: url(Img/Activity/Act3.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: top -0px left -10px;
    border-radius: 20px 20px 0 0;
    width: 280px;
    height: 150px;
}
.Act_Img_4 {
    background-image: url(Img/Activity/Act4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0 0;
    width: 280px;
    height: 400px;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
}
.Act_Img_5 {
    background-image: url(Img/Activity/Act5.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: bottom -68px left -20px;
    border-radius: 20px 20px 0 0;
    width: 280px;
    height: 150px;
}
.Act_Img_6 {
    background-image: url(Img/Activity/Act6.jpg);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: top -30px left -2px ;
    border-radius: 20px 20px 0 0;
    width: 280px;
    height: 150px;
}
.Desc_Act {
    width: 280px;
    height: 55px;
    font-size: 11px;
    color: #000;
    box-shadow: 2px 5px 10px #f1f1f1;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
}
.Desc_Act p {
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 0;
}

/* ....................Footer.............. */

.Bloc_Footer {
    display: flex;
    margin-top: 100px;
    padding-left: 4%;
    background: #f1f1f1;
}
.Footer {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 18%;
}
.Bloc_Footer p {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 20px;
}
.Bloc_Footer ul {
    padding-left: 0;
}
.Bloc_Footer li {
    list-style-type: none;
    margin-bottom: 10px;
}
.Bloc_Footer a {
    text-decoration: none;
    color: #000;
    list-style-type: none;
}